*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.hero{
    padding-top: 10px;
    width:100%;
    height: auto;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 50px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.navbar{
    
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    
    
}

.navbar a{
    color: #E5E7EB;
    text-decoration: none;
}

.main{
    display: flex;
    padding-right: 150px;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
}
.text h1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.text p{
    font-size: 18px;
    color: #E5E7EB;
    width: 550px;
}
.text button{
    width:60 px;
    height: 30 px;
    padding: 10px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}
.image{
    background-color: rgba(255, 255, 255, 0.5);
    width: 600px;
    height: 200px;
}
.info{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.random{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 50px;
    
}
.card1{
    width:200px;
    font-size: 15px;
}
.card{
    height: 200px;
    width: 200px;
    border:1px solid #3882F6;
    border-radius: 5px;
}
.quotes{
    width: 100%;
    height: auto;
}